@import '../../../styles/colors';
@import '../../../styles/font-size';

.syntaxHighlightContainer {
  position: relative;
  .syntaxHighlightFileName {
    background-color: $dark-gray;
    color: $white;
    font-size: $fs-small;
    padding: 1px 6px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.detailContainer {
  background-color: $white;
  padding: 30px;
  .detailHeader {
    margin-bottom: 2rem;
    .userInfoContainer {
      margin-bottom: 1rem;
      .userInfo {
        display: flex;
        align-items: center;
        margin-bottom: 0.4rem;
        .userIcon {
          width: 30px;
          height: 30px;
          border-radius: 32px;
          margin-right: 0.6rem;
        }
      }
      .publishedAtContainer {
        color: $dark-gray;
        >* {
          margin-right: 0.6rem;
        }
      }
    }
    .title {
      font-size: 2rem;
      margin-bottom: 12px;
    }
    .tag {
      color: $dark-gray;
      margin-right: 0.6rem;
    }
  }
  .detailBody {
    
  }
}
