@import '../../../styles/colors';
@import '../../../styles/font-size';

.detailContainer {
  background-color: $white;
  padding: 30px;
}

.floatButtonContainer {
  position: fixed;
  right: 1.4rem;
  bottom: 1.4rem;
}
