@import '../../../styles/colors';
@import '../../../styles/length';

.body {
  min-height: 100vh;
  background-color: $light-gray;
  .doubleLineTemplateContainer {
    min-height: $main-height;
    padding: 24px;
    max-width: 64rem;
    margin: 0 auto;
  }
}
