@import '../../../styles/colors';
@import '../../../styles/font-size';

.contribute {
  height: 374px;
  width: 325px;
  .contributeHeader {
    height: 174px;
    position: relative;
  }
  .contributeBody {
    background-color: $white;
    height: 200px;
    padding: 10px 15px;
    position: relative;
    .title {
      font-size: $fs-x;
      font-weight: bold;
      :hover {
        color: $dark-gray;
        transition: 0.2s;
      }
    }
  }
}

.contributeBodyHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
  min-height: 30px;
  .lastEditedAt {
    color: $dark-gray;
  }
}

.contributeBodyFooter {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  .tags {
    display: flex;
    align-items: center;
    > div {
      margin: 0 5px 0 0;
    }
  }
}
