@import '../../../styles/colors';

.contribute {
  height: 452px;
  width: 430px;
  .contributeHeader {
    height: 200px;
    position: relative;
    background-color: $dark-gray;
  }
  .contributeBody {
    background-color: $white;
    height: 252px;
    padding: 10px 15px;
    .title {
      font-size: 24px;
      font-weight: bold;
      :hover {
        color: $dark-gray;
        transition: 0.2s;
      }
    }
  }
}

.contributeBodyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  min-height: 30px;
  .tags {
    display: flex;
    align-items: center;
    > div {
      margin: 0 5px 0 0;
    }
  }
  .lastEditedAt {
    color: $dark-gray;
  }
}
