DB_HOST='mysql://admin@localhost:3306/react_blog'
DB_DIRECT_HOST='mysql://admin@localhost:3306/react_blog'
RECOIL_DUPLICATE_ATOM_KEY_CHECKING_ENABLED=false
NEXTAUTH_URL='http://localhost:3000'
NEXTAUTH_SECRET='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
GITHUB_CLIENT_ID='xxxxxxxxxxxxxxxxxxxx'
GITHUB_CLIENT_SECRET='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
