@import '../../client//styles/colors';
@import '../../client//styles/font-size';

.titleForm {
  height: 3em;
  background-color: $white;
  padding: 0.6rem;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  &:focus-visible {
    outline: 2px solid $light-pink;
  }
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  .writeContainer {
    min-height: 8em;
    width: 49%;
    background-color: $white;
    .contentForm {
      border: none;
      height: 100%;
      padding: 1rem;
      width: 100%;
      resize: none;
      &:focus-visible {
        outline: 2px solid $light-pink;
      }
    }
  }
  .previewContainer {
    min-height: 8em;
    width: 49%;
    background-color: $white;
    padding: 1rem;
  }
}
