// colorは必ずここに記載して、ファイルをインポートして使用すること
// 汎用性・保守性を守るため

$white: #ffffff;
$light-gray: #f5f5f5;
$gray: #bebebe;
$dark-green: #006500;
$dark-gray:#929292;
$red: #b30000;
$light-pink: #fae9ec;
$blue: #0000ff;
