@import '../../../styles/colors';
@import '../../../styles/font-size';

.main {
  border: none;
  background-color: $red;
  color: $white;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.3s;
}

.main:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.sub {
  background-color: #00f;
  color: #fff;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.3s;
}
