@import '../../../styles/colors';
@import '../../../styles/length';
@import '../../../styles/font-size';

.header {
  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $header-height;
  }
  .heroTextContainer {
    margin: 0 auto;
    position: relative;
    text-align: center;
    .heroText {
      color: $red;
      font-size: $fs-4x;
      font-weight: bold;
      font-family: Arial Black, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }
  }
  .loginButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 1rem 0 0;
    color: $red;
    font-size: $fs-2x;
    font-weight: bold;
  }
  .iconButton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 1rem 0 0;
    color: $red;
    font-size: $fs-2x;
    font-weight: bold;
    border-radius: 50%;
  }
}
