@import '../../../styles/colors';
@import '../../../styles/font-size';
@import '../../../styles/skeleton';

.contentContainer {
  display: flex;
  justify-content: space-between;
  .writeContainer {
    min-height: 8em;
    width: 49%;
    background-color: $white;
  }
  .previewContainer {
    min-height: 8em;
    width: 49%;
    background-color: $white;
    padding: 1rem;
  }
}

.floatButtonContainer {
  position: fixed;
  right: 1.4rem;
  bottom: 1.4rem;
}

.modalTitle {
  font-size: $fs-2x;
  margin-bottom: 1rem;
}
.modalContent {
  margin-bottom: 1rem;
}
.modalButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.skeleton {
  @include skeleton;
}
